.container__menu-title{
  color: #ffffff;

}
.container__menu-title > h1 {
  margin-block: 0.938rem;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-block: 0.313rem;
}
